
@font-face {
  font-family: 'Durango';
  src: url('../assets/fonts/western.eot');
  src: url('../assets/fonts/western.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/western.woff2') format('woff2'),
       url('../assets/fonts/western.woff') format('woff'),
       url('../assets/fonts/western.ttf') format('truetype'),
       url('../assets/fonts/western.svg#durango_western_erodedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@keyframes spin { 
  100% {
    transform: rotate(360deg);
  }
}
@keyframes move { 
  from {
      left: 800px;
  }
  to {
    left: -200px;
  }
}

.game {
  width: 743px;
  height: 550px;
  background: url('../assets/img/background.jpg') no-repeat;
  margin: auto;
  overflow: hidden;
  position: relative;

  .stats {
    position: absolute;
    top: 35px;
    width: 130px;
    text-align: center;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: wheat;

    &.win-amount {
      left: 65px;
    }
    &.balance {
      right: 65px;
    }
  }

  .hat {
    width: 213px;
    height: 124px;
    background: url('../assets/img/hat.png') no-repeat;
    position: absolute;
    bottom: 269px;
    left: 271px;
    z-index: 0;
  }

  .tumbleweed {
    width: 180px;
    height: 180px;
    background: url('../assets/img/wheel.png') no-repeat;
    position: absolute;
    bottom: 0px;
    left: 800px;
    z-index: 3;
  }

  .cowboy {
    width: 298px;
    height: 380px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    &.idle {
      background: url('../assets/img/idle.png') no-repeat;
    }
    &.lost {
      background: url('../assets/img/lost.png') no-repeat;
    }
    &.won {
      background: url('../assets/img/won.png') no-repeat;
    }
  }

  .bullets {
    width: 743px;
    height: 414px;
    background: url('../assets/img/bullet-holes.png') no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: none;
  }

  .guns {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .gun {
      cursor: pointer;
      width: 218px;
      height: 232px;

      &.left-gun {
        background: url('../assets/img/left.png') no-repeat;
      }
      &.right-gun {
        background: url('../assets/img/right.png') no-repeat;
      }
    }
  }
}