@keyframes spin { 
  100% {
    transform: rotate(360deg);
  }
}
@keyframes move { 
  from {
      left: 800px;
  }
  to {
    left: -200px;
  }
}

.game {
  width: 743px;
  height: 550px;
  background: url('../assets/background.jpg') no-repeat;
  margin: auto;
  overflow: hidden;
  position: relative;

  .hat {
    width: 213px;
    height: 124px;
    background: url('../assets/hat.png') no-repeat;
    position: absolute;
    bottom: 269px;
    left: 271px;
    z-index: 0;
  }

  .tumbleweed {
    width: 180px;
    height: 180px;
    background: url('../assets/wheel.png') no-repeat;
    position: absolute;
    bottom: 0px;
    left: 800px;
    z-index: 3;
  }

  .cowboy {
    width: 298px;
    height: 380px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    &.idle {
      background: url('../assets/idle.png') no-repeat;
    }
    &.lost {
      background: url('../assets/lost.png') no-repeat;
    }
    &.won {
      background: url('../assets/won.png') no-repeat;
    }
  }

  .bullets {
    width: 743px;
    height: 414px;
    background: url('../assets/bullet-holes.png') no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: none;
  }

  .guns {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .gun {
      cursor: pointer;
      width: 218px;
      height: 232px;

      &.left-gun {
        background: url('../assets/left.png') no-repeat;
      }
      &.right-gun {
        background: url('../assets/right.png') no-repeat;
      }
    }
  }
}