@import "Animations.css";

@font-face {
  font-family: 'Durango';
  src: url('../../assets/fonts/western.eot');
  src: url('../../assets/fonts/western.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/western.woff2') format('woff2'),
       url('../../assets/fonts/western.woff') format('woff'),
       url('../../assets/fonts/western.ttf') format('truetype'),
       url('../../assets/fonts/western.svg#durango_western_erodedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Railroad';
  src: url('../../assets/fonts/railroad-webfont.eot');
  src: url('../../assets/fonts/railroad-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/railroad-webfont.woff2') format('woff2'),
       url('../../assets/fonts/railroad-webfont.woff') format('woff'),
       url('../../assets/fonts/railroad-webfont.ttf') format('truetype'),
       url('../../assets/fonts/railroad-webfont.svg#ifc_railroadbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@keyframes spin { 
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale { 
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

.game {
  width: 743px;
  height: 550px;
  background: url('../../assets/img/background.jpg') no-repeat;
  margin: auto;
  overflow: hidden;
  position: relative;

  .stats {
    position: absolute;
    top: 35px;
    width: 130px;
    text-align: center;
    font-family: 'Railroad';
    font-size: 25px;
    font-weight: bold;
    color: wheat;

    &.win-amount {
      left: 65px;
    }
    &.balance {
      right: 65px;
    }
  }

  .hat {
    width: 213px;
    height: 124px;
    background: url('../../assets/img/hat.png') no-repeat;
    position: absolute;
    bottom: 269px;
    left: 271px;
    z-index: 0;
  }

  .tumbleweed {
    width: 180px;
    height: 180px;
    background: url('../../assets/img/wheel.png') no-repeat;
    position: absolute;
    bottom: 0px;
    left: 800px;
    z-index: 3;
  }

  .cowboy {
    width: 298px;
    height: 380px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    &.idle {
      background: url('../../assets/img/idle.png') no-repeat;
    }
    &.lost {
      background: url('../../assets/img/lost.png') no-repeat;
    }
    &.won {
      background: url('../../assets/img/won.png') no-repeat;
    }

    &:before, &:after {
      position: absolute;
      left: -999999;
      opacity: 0;
      height: 0;
      width: 0;
    }
    &:before {
      content: url('../../assets/img/lost.png');
    }
    &:after {
      content: url('../../assets/img/won.png');
    }
  }

  .bullets {
    width: 743px;
    height: 414px;
    background: url('../../assets/img/bullet-holes.png') no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
  }

  .guns {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;

    &:hover > * { 
      opacity: 0.5;
    }

    & > * { 
      visibility: visible;
      transition: opacity 150ms linear 100ms;

      &:hover { 
        opacity: 1; 
        transform: scale(1); 
        transition-delay: 0ms; 
      } 
    }

    .gun {
      cursor: pointer;
      width: 190px;
      height: 202px;

      &:hover {
        animation: tada;
        animation-duration: 1.5s;
      }

      &.left-gun {
        background: url('../../assets/img/left.png') no-repeat;
      }
      &.right-gun {
        background: url('../../assets/img/right.png') no-repeat;
      }
    }
  }

  .message-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 3;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    .message {
      margin: auto;
      z-index: 4;
      font-family: 'Railroad';
      font-size: 125px;
      color: wheat;
      opacity: 0;
      visibility: hidden;

      span {
        display: block;
        text-align: center;
      }
    }
  }

  .message-action {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 3;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    .action-wrap {
      width: 70%;
      margin: auto;
      z-index: 4;
      font-family: 'Railroad';
      font-size: 25px;
      color: wheat;
      opacity: 0;
      visibility: hidden;

      span {
        display: block;
        text-align: center;

        &:last-child {
          border: 4px double wheat;
          display: table;
          margin: 0 auto;
          padding: 15px;
          border-radius: 10px;
          margin-top: 30px;
          font-size: 40px;
          cursor: pointer;

          &:hover {
            background: rgba(245, 222, 179, .7);
            color: #000000;
          }
        }
      }
    }
  }
}